#Ignore everything.
*
# Don't ignore directories.
!*/
#Don't ignore .gitignore and don't ignore [preferred files].
!.gitignore
!*.jl
!*.do
!*.py
!*.m
!*.slurm
!*.sh
!*.bash
!*.r
!*.R
!*.stan
!*.ipynb
!*.sty
!*.f
!*.md
!*Project.toml
!*Manifest.toml
!tidy/Project.toml
!tidy/Manifest.toml
!r_info.txt

!*binscattr/DESCRIPTION
!*binscattr/NAMESPACE

.Rproj.user
.ipynb_checkpoints
.DS_Store
.vscode/settings.json
tidy/julia-1.7.2/
tidy/polyinterp-log.txt
